---
layout: null
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="../magix.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="{{site.baseurl}}/asset/style.css">
</head>
<body>


    {% include header.html %}

    <div class="main-wrapper clearfix">

        <div class="container">
            <h2 class="section-title">
                文章列表
            </h2>
            <ul class="article-list">
                    {% for post in site.categories.article %}
                    <li><a href="{{site.baseurl}}/{{post.url}}">{{ post.title }}</a></li>
                    {% endfor %}
            </ul>
        </div>
    </div>

    {% include footer.html %}

</body>
</html>


