<div class="header">
    <div class="clearfix">
        <div class="bp-logo">
            <h3>Magix Project</h3>
        </div>
        <div class="top-nav">
            <ul>
                <li>
                    <a href="#!/home/index" hidefocus="true">首页</a>
                </li>
                <li>
                    <a href="#!/coms/index" hidefocus="true">组件</a>
                </li>
                <li>
                    <a href="#!/demos/index" hidefocus="true">经验</a>
                </li>
            </ul>
      </div>
      <div class="top-handle">
        <a href="javascript:;">行列(xinglie.lkf)</a>,
        <a href="javascript:;">退出</a>
      </div>
    </div>
    <div class="sidebar" mx-view="@./header-sidebar" id="sidebar_<%=viewId%>"></div>
</div>