/**
 * 常用工具类, 没有明确分类的
 **/

.clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;

    };
}

.page-container {
    max-width: 999px;
    margin: 0 auto;
    @include clearfix();
}

.fl, .float-left { float: left; }
.fr, .float-right { float: right; }
.tl, .text-left { text-align: left; }
.tr, .text-right { text-align: right; }
.tc, .text-center { text-align: center; }
.cp, .cursor-pointer { cursor: pointer; }
.pr { position: relative;}
.block { display: block; }
.inline-block { display: inline-block; }




@media (max-width: map-get($breakpoints, pad)) {
    .pad-hide {
        display: none !important;
    }
    .pad-show {
        display: block !important;
    }
}

@media (max-width: map-get($breakpoints, h5)) {
    .h5-hide {
        display: none !important;
    }
    .h5-show {
        display: block !important;
    }
}
