/**
 * 常用尺寸
 .w10 .w100
 .h10 .h100
 **/

@if $generate-dimension-class {
    // 10到100, 递增10
    @for $i from 1 through 10 {
        .w#{$i * 10} { width: $i * 10px; }
        .h#{$i * 10} { width: $i * 10px; }
    }
    // 120到360, 递增20
    @for $i from 6 through 18 {
        .w#{$i * 20} { width: $i * 20px; }
        .h#{$i * 20} { width: $i * 20px; }
    }


}

