/**
 * pid=84081
 **/
@font-face {
  font-family: 'minisite-iconfont';
  src: url('//at.alicdn.com/t/font_1461583371_0700533.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1461583371_0700533.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1461583371_0700533.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1461583371_0700533.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1461583371_0700533.svg#minisitefont') format('svg'); /* iOS 4.1- */
}


.mini-iconfont {
    font-family: "minisite-iconfont";
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    display: inline-block;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mini-icon-back:before {
    content: "\e600";
}
.mini-icon-forward:before {
    content: "\e601";
}
.mini-icon-mail:before {
    content: "\e602";
}
