@charset "UTF-8";
/**
 * 项目的默认设置
 **/
/**
 * 设置整个项目默认字号, 行高, 颜色, 绝大部分元素不用再设置
 **/
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ul,
ol {
  list-style: none; }

/**
 * 常用工具类, 没有明确分类的
 **/
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.page-container {
  max-width: 999px;
  margin: 0 auto; }
  .page-container:before, .page-container:after {
    content: "";
    display: table; }
  .page-container:after {
    clear: both; }

.fl, .float-left {
  float: left; }

.fr, .float-right {
  float: right; }

.tl, .text-left {
  text-align: left; }

.tr, .text-right {
  text-align: right; }

.tc, .text-center {
  text-align: center; }

.cp, .cursor-pointer {
  cursor: pointer; }

.pr {
  position: relative; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

@media (max-width: 850px) {
  .pad-hide {
    display: none !important; }
  .pad-show {
    display: block !important; } }

@media (max-width: 768px) {
  .h5-hide {
    display: none !important; }
  .h5-show {
    display: block !important; } }

/**
 * 常用的内外边距工具类
 **/
.mt0 {
  margin-top: 0px !important; }

.mr0 {
  margin-right: 0px !important; }

.mb0 {
  margin-bottom: 0px !important; }

.ml0 {
  margin-left: 0px !important; }

.mg0 {
  margin: 0px !important; }

.pt0 {
  padding-top: 0px !important; }

.pr0 {
  padding-right: 0px !important; }

.pb0 {
  padding-bottom: 0px !important; }

.pl0 {
  padding-left: 0px !important; }

.pd0 {
  padding: 0px !important; }

.mt5 {
  margin-top: 5px !important; }

.mr5 {
  margin-right: 5px !important; }

.mb5 {
  margin-bottom: 5px !important; }

.ml5 {
  margin-left: 5px !important; }

.mg5 {
  margin: 5px !important; }

.pt5 {
  padding-top: 5px !important; }

.pr5 {
  padding-right: 5px !important; }

.pb5 {
  padding-bottom: 5px !important; }

.pl5 {
  padding-left: 5px !important; }

.pd5 {
  padding: 5px !important; }

.mt10 {
  margin-top: 10px !important; }

.mr10 {
  margin-right: 10px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.ml10 {
  margin-left: 10px !important; }

.mg10 {
  margin: 10px !important; }

.pt10 {
  padding-top: 10px !important; }

.pr10 {
  padding-right: 10px !important; }

.pb10 {
  padding-bottom: 10px !important; }

.pl10 {
  padding-left: 10px !important; }

.pd10 {
  padding: 10px !important; }

.mt15 {
  margin-top: 15px !important; }

.mr15 {
  margin-right: 15px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.ml15 {
  margin-left: 15px !important; }

.mg15 {
  margin: 15px !important; }

.pt15 {
  padding-top: 15px !important; }

.pr15 {
  padding-right: 15px !important; }

.pb15 {
  padding-bottom: 15px !important; }

.pl15 {
  padding-left: 15px !important; }

.pd15 {
  padding: 15px !important; }

.mt20 {
  margin-top: 20px !important; }

.mr20 {
  margin-right: 20px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.ml20 {
  margin-left: 20px !important; }

.mg20 {
  margin: 20px !important; }

.pt20 {
  padding-top: 20px !important; }

.pr20 {
  padding-right: 20px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.pl20 {
  padding-left: 20px !important; }

.pd20 {
  padding: 20px !important; }

.mt25 {
  margin-top: 25px !important; }

.mr25 {
  margin-right: 25px !important; }

.mb25 {
  margin-bottom: 25px !important; }

.ml25 {
  margin-left: 25px !important; }

.mg25 {
  margin: 25px !important; }

.pt25 {
  padding-top: 25px !important; }

.pr25 {
  padding-right: 25px !important; }

.pb25 {
  padding-bottom: 25px !important; }

.pl25 {
  padding-left: 25px !important; }

.pd25 {
  padding: 25px !important; }

.mt30 {
  margin-top: 30px !important; }

.mr30 {
  margin-right: 30px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.ml30 {
  margin-left: 30px !important; }

.mg30 {
  margin: 30px !important; }

.pt30 {
  padding-top: 30px !important; }

.pr30 {
  padding-right: 30px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.pl30 {
  padding-left: 30px !important; }

.pd30 {
  padding: 30px !important; }

.mt40 {
  margin-top: 40px !important; }

.mr40 {
  margin-right: 40px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.ml40 {
  margin-left: 40px !important; }

.mg40 {
  margin: 40px !important; }

.pt40 {
  padding-top: 40px !important; }

.pr40 {
  padding-right: 40px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.pl40 {
  padding-left: 40px !important; }

.pd40 {
  padding: 40px !important; }

.mt50 {
  margin-top: 50px !important; }

.mr50 {
  margin-right: 50px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.ml50 {
  margin-left: 50px !important; }

.mg50 {
  margin: 50px !important; }

.pt50 {
  padding-top: 50px !important; }

.pr50 {
  padding-right: 50px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.pl50 {
  padding-left: 50px !important; }

.pd50 {
  padding: 50px !important; }

.mt60 {
  margin-top: 60px !important; }

.mr60 {
  margin-right: 60px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.ml60 {
  margin-left: 60px !important; }

.mg60 {
  margin: 60px !important; }

.pt60 {
  padding-top: 60px !important; }

.pr60 {
  padding-right: 60px !important; }

.pb60 {
  padding-bottom: 60px !important; }

.pl60 {
  padding-left: 60px !important; }

.pd60 {
  padding: 60px !important; }

.mt70 {
  margin-top: 70px !important; }

.mr70 {
  margin-right: 70px !important; }

.mb70 {
  margin-bottom: 70px !important; }

.ml70 {
  margin-left: 70px !important; }

.mg70 {
  margin: 70px !important; }

.pt70 {
  padding-top: 70px !important; }

.pr70 {
  padding-right: 70px !important; }

.pb70 {
  padding-bottom: 70px !important; }

.pl70 {
  padding-left: 70px !important; }

.pd70 {
  padding: 70px !important; }

.mt80 {
  margin-top: 80px !important; }

.mr80 {
  margin-right: 80px !important; }

.mb80 {
  margin-bottom: 80px !important; }

.ml80 {
  margin-left: 80px !important; }

.mg80 {
  margin: 80px !important; }

.pt80 {
  padding-top: 80px !important; }

.pr80 {
  padding-right: 80px !important; }

.pb80 {
  padding-bottom: 80px !important; }

.pl80 {
  padding-left: 80px !important; }

.pd80 {
  padding: 80px !important; }

.mt90 {
  margin-top: 90px !important; }

.mr90 {
  margin-right: 90px !important; }

.mb90 {
  margin-bottom: 90px !important; }

.ml90 {
  margin-left: 90px !important; }

.mg90 {
  margin: 90px !important; }

.pt90 {
  padding-top: 90px !important; }

.pr90 {
  padding-right: 90px !important; }

.pb90 {
  padding-bottom: 90px !important; }

.pl90 {
  padding-left: 90px !important; }

.pd90 {
  padding: 90px !important; }

.mt100 {
  margin-top: 100px !important; }

.mr100 {
  margin-right: 100px !important; }

.mb100 {
  margin-bottom: 100px !important; }

.ml100 {
  margin-left: 100px !important; }

.mg100 {
  margin: 100px !important; }

.pt100 {
  padding-top: 100px !important; }

.pr100 {
  padding-right: 100px !important; }

.pb100 {
  padding-bottom: 100px !important; }

.pl100 {
  padding-left: 100px !important; }

.pd100 {
  padding: 100px !important; }

/**
 * 常用字号
 * 从12px到48px, 递增2
 * .f12 .f14
 **/
.f12 {
  font-size: 12px !important; }

.f14 {
  font-size: 14px !important; }

.f16 {
  font-size: 16px !important; }

.f18 {
  font-size: 18px !important; }

.f20 {
  font-size: 20px !important; }

.f22 {
  font-size: 22px !important; }

.f24 {
  font-size: 24px !important; }

.f26 {
  font-size: 26px !important; }

.f28 {
  font-size: 28px !important; }

.f30 {
  font-size: 30px !important; }

.f32 {
  font-size: 32px !important; }

.f34 {
  font-size: 34px !important; }

.f36 {
  font-size: 36px !important; }

.f38 {
  font-size: 38px !important; }

.f40 {
  font-size: 40px !important; }

.f42 {
  font-size: 42px !important; }

.f44 {
  font-size: 44px !important; }

.f46 {
  font-size: 46px !important; }

.f48 {
  font-size: 48px !important; }

/**
 * 常用尺寸
 .w10 .w100
 .h10 .h100
 **/
.w10 {
  width: 10px; }

.h10 {
  width: 10px; }

.w20 {
  width: 20px; }

.h20 {
  width: 20px; }

.w30 {
  width: 30px; }

.h30 {
  width: 30px; }

.w40 {
  width: 40px; }

.h40 {
  width: 40px; }

.w50 {
  width: 50px; }

.h50 {
  width: 50px; }

.w60 {
  width: 60px; }

.h60 {
  width: 60px; }

.w70 {
  width: 70px; }

.h70 {
  width: 70px; }

.w80 {
  width: 80px; }

.h80 {
  width: 80px; }

.w90 {
  width: 90px; }

.h90 {
  width: 90px; }

.w100 {
  width: 100px; }

.h100 {
  width: 100px; }

.w120 {
  width: 120px; }

.h120 {
  width: 120px; }

.w140 {
  width: 140px; }

.h140 {
  width: 140px; }

.w160 {
  width: 160px; }

.h160 {
  width: 160px; }

.w180 {
  width: 180px; }

.h180 {
  width: 180px; }

.w200 {
  width: 200px; }

.h200 {
  width: 200px; }

.w220 {
  width: 220px; }

.h220 {
  width: 220px; }

.w240 {
  width: 240px; }

.h240 {
  width: 240px; }

.w260 {
  width: 260px; }

.h260 {
  width: 260px; }

.w280 {
  width: 280px; }

.h280 {
  width: 280px; }

.w300 {
  width: 300px; }

.h300 {
  width: 300px; }

.w320 {
  width: 320px; }

.h320 {
  width: 320px; }

.w340 {
  width: 340px; }

.h340 {
  width: 340px; }

.w360 {
  width: 360px; }

.h360 {
  width: 360px; }

/**
 * pid=84081
 **/
@font-face {
  font-family: 'minisite-iconfont';
  src: url("//at.alicdn.com/t/font_1461583371_0700533.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/font_1461583371_0700533.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1461583371_0700533.woff") format("woff"), url("//at.alicdn.com/t/font_1461583371_0700533.ttf") format("truetype"), url("//at.alicdn.com/t/font_1461583371_0700533.svg#minisitefont") format("svg");
  /* iOS 4.1- */ }

.mini-iconfont {
  font-family: "minisite-iconfont";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  display: inline-block;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.mini-icon-back:before {
  content: "\e600"; }

.mini-icon-forward:before {
  content: "\e601"; }

.mini-icon-mail:before {
  content: "\e602"; }

.paginationjs {
  line-height: 1.6;
  font-family: "Marmelad", "Lucida Grande", "Arial", "Hiragino Sans GB", Georgia, sans-serif;
  font-size: 14px;
  box-sizing: initial; }

.paginationjs:after {
  display: table;
  content: " ";
  clear: both; }

.paginationjs .paginationjs-pages {
  float: left; }

.paginationjs .paginationjs-pages ul {
  float: left;
  margin: 0;
  padding: 0; }

.paginationjs .paginationjs-pages li {
  float: left;
  border: 1px solid #aaaaaa;
  border-right: none;
  list-style: none; }

.paginationjs .paginationjs-pages li > a {
  min-width: 30px;
  height: 28px;
  line-height: 28px;
  display: block;
  background: #fff;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  text-align: center; }

.paginationjs .paginationjs-pages li > a:hover {
  background: #eee; }

.paginationjs .paginationjs-pages li.active {
  border: none; }

.paginationjs .paginationjs-pages li.active > a {
  height: 30px;
  line-height: 30px;
  background: #aaaaaa;
  color: #fff; }

.paginationjs .paginationjs-pages li.disabled > a {
  opacity: .3; }

.paginationjs .paginationjs-pages li.disabled > a:hover {
  background: none; }

.paginationjs .paginationjs-pages li:first-child {
  border-radius: 3px 0 0 3px; }

.paginationjs .paginationjs-pages li:first-child > a {
  border-radius: 3px 0 0 3px; }

.paginationjs .paginationjs-pages li:last-child {
  border-right: 1px solid #aaaaaa;
  border-radius: 0 3px 3px 0; }

.paginationjs .paginationjs-pages li:last-child > a {
  border-radius: 0 3px 3px 0; }

.paginationjs .paginationjs-go-input {
  float: left;
  margin-left: 10px;
  font-size: 14px; }

.paginationjs .paginationjs-go-input > input[type="text"] {
  width: 30px;
  height: 28px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  padding: 0;
  font-size: 14px;
  text-align: center;
  vertical-align: baseline;
  outline: none;
  box-shadow: none;
  box-sizing: initial; }

.paginationjs .paginationjs-go-button {
  float: left;
  margin-left: 10px;
  font-size: 14px; }

.paginationjs .paginationjs-go-button > input[type="button"] {
  min-width: 40px;
  height: 30px;
  line-height: 28px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  text-align: center;
  padding: 0 8px;
  font-size: 14px;
  vertical-align: baseline;
  outline: none;
  box-shadow: none;
  color: #333;
  cursor: pointer; }

.paginationjs .paginationjs-go-button > input[type="button"]:hover {
  background-color: #f8f8f8; }

.paginationjs .paginationjs-nav {
  float: left;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  font-size: 14px; }

.paginationjs.paginationjs-small {
  font-size: 12px; }

.paginationjs.paginationjs-small .paginationjs-pages li > a {
  min-width: 26px;
  height: 24px;
  line-height: 24px;
  font-size: 12px; }

.paginationjs.paginationjs-small .paginationjs-pages li.active > a {
  height: 26px;
  line-height: 26px; }

.paginationjs.paginationjs-small .paginationjs-go-input {
  font-size: 12px; }

.paginationjs.paginationjs-small .paginationjs-go-input > input[type="text"] {
  width: 26px;
  height: 24px;
  font-size: 12px; }

.paginationjs.paginationjs-small .paginationjs-go-button {
  font-size: 12px; }

.paginationjs.paginationjs-small .paginationjs-go-button > input[type="button"] {
  min-width: 30px;
  height: 26px;
  line-height: 24px;
  padding: 0 6px;
  font-size: 12px; }

.paginationjs.paginationjs-small .paginationjs-nav {
  height: 26px;
  line-height: 26px;
  font-size: 12px; }

.paginationjs.paginationjs-big {
  font-size: 16px; }

.paginationjs.paginationjs-big .paginationjs-pages li > a {
  min-width: 36px;
  height: 34px;
  line-height: 34px;
  font-size: 16px; }

.paginationjs.paginationjs-big .paginationjs-pages li.active > a {
  height: 36px;
  line-height: 36px; }

.paginationjs.paginationjs-big .paginationjs-go-input {
  font-size: 16px; }

.paginationjs.paginationjs-big .paginationjs-go-input > input[type="text"] {
  width: 36px;
  height: 34px;
  font-size: 16px; }

.paginationjs.paginationjs-big .paginationjs-go-button {
  font-size: 16px; }

.paginationjs.paginationjs-big .paginationjs-go-button > input[type="button"] {
  min-width: 50px;
  height: 36px;
  line-height: 34px;
  padding: 0 12px;
  font-size: 16px; }

.paginationjs.paginationjs-big .paginationjs-nav {
  height: 36px;
  line-height: 36px;
  font-size: 16px; }

.paginationjs.paginationjs-theme-blue .paginationjs-pages li {
  border-color: #289de9; }

.paginationjs.paginationjs-theme-blue .paginationjs-pages li > a {
  color: #289de9; }

.paginationjs.paginationjs-theme-blue .paginationjs-pages li > a:hover {
  background: #e9f4fc; }

.paginationjs.paginationjs-theme-blue .paginationjs-pages li.active > a {
  background: #289de9;
  color: #fff; }

.paginationjs.paginationjs-theme-blue .paginationjs-pages li.disabled > a:hover {
  background: none; }

.paginationjs.paginationjs-theme-blue .paginationjs-go-input > input[type="text"] {
  border-color: #289de9; }

.paginationjs.paginationjs-theme-blue .paginationjs-go-button > input[type="button"] {
  background: #289de9;
  border-color: #289de9;
  color: #fff; }

.paginationjs.paginationjs-theme-blue .paginationjs-go-button > input[type="button"]:hover {
  background-color: #3ca5ea; }

.paginationjs.paginationjs-theme-green .paginationjs-pages li {
  border-color: #449d44; }

.paginationjs.paginationjs-theme-green .paginationjs-pages li > a {
  color: #449d44; }

.paginationjs.paginationjs-theme-green .paginationjs-pages li > a:hover {
  background: #ebf4eb; }

.paginationjs.paginationjs-theme-green .paginationjs-pages li.active > a {
  background: #449d44;
  color: #fff; }

.paginationjs.paginationjs-theme-green .paginationjs-pages li.disabled > a:hover {
  background: none; }

.paginationjs.paginationjs-theme-green .paginationjs-go-input > input[type="text"] {
  border-color: #449d44; }

.paginationjs.paginationjs-theme-green .paginationjs-go-button > input[type="button"] {
  background: #449d44;
  border-color: #449d44;
  color: #fff; }

.paginationjs.paginationjs-theme-green .paginationjs-go-button > input[type="button"]:hover {
  background-color: #55a555; }

.paginationjs.paginationjs-theme-yellow .paginationjs-pages li {
  border-color: #ec971f; }

.paginationjs.paginationjs-theme-yellow .paginationjs-pages li > a {
  color: #ec971f; }

.paginationjs.paginationjs-theme-yellow .paginationjs-pages li > a:hover {
  background: #fdf5e9; }

.paginationjs.paginationjs-theme-yellow .paginationjs-pages li.active > a {
  background: #ec971f;
  color: #fff; }

.paginationjs.paginationjs-theme-yellow .paginationjs-pages li.disabled > a:hover {
  background: none; }

.paginationjs.paginationjs-theme-yellow .paginationjs-go-input > input[type="text"] {
  border-color: #ec971f; }

.paginationjs.paginationjs-theme-yellow .paginationjs-go-button > input[type="button"] {
  background: #ec971f;
  border-color: #ec971f;
  color: #fff; }

.paginationjs.paginationjs-theme-yellow .paginationjs-go-button > input[type="button"]:hover {
  background-color: #eea135; }

.paginationjs.paginationjs-theme-red .paginationjs-pages li {
  border-color: #c9302c; }

.paginationjs.paginationjs-theme-red .paginationjs-pages li > a {
  color: #c9302c; }

.paginationjs.paginationjs-theme-red .paginationjs-pages li > a:hover {
  background: #faeaea; }

.paginationjs.paginationjs-theme-red .paginationjs-pages li.active > a {
  background: #c9302c;
  color: #fff; }

.paginationjs.paginationjs-theme-red .paginationjs-pages li.disabled > a:hover {
  background: none; }

.paginationjs.paginationjs-theme-red .paginationjs-go-input > input[type="text"] {
  border-color: #c9302c; }

.paginationjs.paginationjs-theme-red .paginationjs-go-button > input[type="button"] {
  background: #c9302c;
  border-color: #c9302c;
  color: #fff; }

.paginationjs.paginationjs-theme-red .paginationjs-go-button > input[type="button"]:hover {
  background-color: #ce4541; }

/* Hacks for IE 6~9 */
.paginationjs .paginationjs-pages li.paginationjs-next {
  *border-right: 1px solid #aaaaaa;
  border-right: 1px solid #aaa \0; }

.paginationjs .paginationjs-go-input {
  *margin-left: 5px;
  margin-left: 5px\0; }

.paginationjs .paginationjs-go-input > input[type="text"] {
  *line-height: 28px;
  line-height: 28px\0;
  *vertical-align: middle;
  vertical-align: middle\0; }

.paginationjs .paginationjs-go-button {
  *margin-left: 5px;
  margin-left: 5px\0; }

.paginationjs .paginationjs-go-button > input[type="button"] {
  *vertical-align: middle;
  vertical-align: middle\0; }

.paginationjs.paginationjs-big .paginationjs-pages li > a {
  line-height: 36px\0; }

.paginationjs.paginationjs-big .paginationjs-go-input > input[type="text"] {
  *height: 35px;
  height: 36px\0;
  *line-height: 36px;
  line-height: 36px\0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*
@import "../views/default";

@import "../views/common/header";
@import "../views/common/footer";
@import "../views/common/sitenav";
@import "../views/common/carousel/carousel";
@import "../views/common/login/taobao";

@import "../views/index/index";

@import "../views/product/index";
@import "../views/product/intro-detail";*/
