---
layout: null
title: 案例
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/asset/style.css">
</head>
<body>


    {% include header.html %}

    <div class="main-wrapper clearfix">

        <div class="container">
            <h2 class="section-title">
                使用Magix的项目列表
            </h2>
            <ul class="article-list">
                    <li><a href="http://zuanshi.taobao.com/" target="_blank">钻石展位</a></li>
                    <li><a href="http://shuyuan.taobao.com/" target="_blank">万堂书院</a></li>
                    <li><a href="" target="_blank"></a></li>
                    <li><a href="" target="_blank"></a></li>
                    <li><a href="" target="_blank"></a></li>
            </ul>
        </div>
    </div>

    {% include footer.html %}

</body>
</html>


