---
layout: null
title: 开发工具
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/asset/style.css">
</head>
<body>


    {% include header.html %}

    <div class="main-wrapper clearfix">

        <div class="container">
            <h2 class="section-title">
                Magix开发者工具
            </h2>
            <ul class="article-list">
                    <li><a href="https://github.com/thx/magix-inspector" target="_blank">magix-inspector</a></li>
                    <li><a href="https://github.com/thx/magix-combine" target="_blank">magix-combine</a></li>
                    <li><a href="https://github.com/thx/magix-local" target="_blank">magix-local</a></li>
                    <li><a href="https://github.com/thx/magix-analysis" target="_blank">magix-analysis</a></li>
            </ul>
        </div>
    </div>

    {% include footer.html %}

</body>
</html>


