---
layout: null
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/asset/style.css">
</head>
<body>


    {% include header.html %}





    <div class="index-banner">
        <div class="index-logo">
            <span class="iconfont icon-magix"></span>
        </div>
        <h1 class="index-title">Magix</h1>
        <h2 class="index-sub-title">区块管理框架</h2>
        <div class="quick-link-container">
            <a href="{{site.baseurl}}/tutorial/step-1-introduction.html" class="quick-link">Get Started</a>
            <a href="https://github.com/thx/magix" class="quick-link">View on GitHub</a>
        </div>
    </div>

    <div class="container intro">
        <h2 class="intro-title">Magix是一个区块化管理框架</h2>
        <p class="intro-content">Magix适合用来构建大型的、交互复杂的应用。
        <br />应用可以是前后端分离的单页应用，也可以是传统的交互复杂的页面。<br />
    Magix通过特有的vframe(类似iframe的思路)帮你把页面按区块化拆分(这里有介绍：<a href="https://github.com/thx/magix/issues/11" target="_blank">magix,区块化管理利器</a>)，同时拆分后的区块仍可以再拆分子区块，无限拆分下去。通过mx-view标签属性快速把区块组装起来形成最终的页面，区块可以被任意、多次复用。</p>
    </div>

    <div class="container feature" style="display: none;">
        <h2 class="feature-title">Magix具有以下特点</h2>
        <ul class="feature-list">
            <li class="feature-item">
                <img src="http://img.alicdn.com/tps/TB1XrR1MXXXXXapXFXXXXXXXXXX-64-45.png" alt="">
                <h2 class="feature-item-title">hello</h2>
                <p class="feature-item-content">大家好, 大家好, 大家好大家好, 大家好, 大家好大家好, 大家好, 大家好大家好, 大家好, 大家好</p>
            </li>
            <li class="feature-item">
                <img src="http://img.alicdn.com/tps/TB1XrR1MXXXXXapXFXXXXXXXXXX-64-45.png" alt="">
                <h2 class="feature-item-title">hello</h2>
                <p class="feature-item-content">大家好, 大家好, 大家好大家好, 大家好, 大家好大家好, 大家好, 大家好大家好, 大家好, 大家好</p>
            </li>
            <li class="feature-item">
                <img src="http://img.alicdn.com/tps/TB1XrR1MXXXXXapXFXXXXXXXXXX-64-45.png" alt="">
                <h2 class="feature-item-title">hello</h2>
                <p class="feature-item-content">大家好, 大家好, 大家好大家好, 大家好, 大家好大家好, 大家好, 大家好大家好, 大家好, 大家好</p>
            </li>
            <li class="feature-item">
                <img src="http://img.alicdn.com/tps/TB1XrR1MXXXXXapXFXXXXXXXXXX-64-45.png" alt="">
                <h2 class="feature-item-title">hello</h2>
                <p class="feature-item-content">大家好, 大家好, 大家好大家好, 大家好, 大家好大家好, 大家好, 大家好大家好, 大家好, 大家好</p>
            </li>



        </ul>
    </div>


    {% include footer.html %}

</body>
</html>


