---
layout: null
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/asset/style.css">
</head>
<body>


    {% include header.html %}





    <div class="index-banner">
        <div class="index-logo">
            <span class="iconfont icon-magix"></span>
        </div>
        <h1 class="index-title">Magix</h1>
        <h2 class="index-sub-title">区块管理工具</h2>
        <div class="quick-link-container">
            <a href="{{site.baseurl}}/tutorial/step-1-introduction.html" class="quick-link">Get Started</a>
            <a href="https://github.com/thx/magix" class="quick-link">View on GitHub</a>
        </div>
    </div>

    <div class="container intro">
        <h2 class="intro-title">Magix是一个轻量级的区块管理工具</h2>
        <p class="intro-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti odio minima sequi, cumque at explicabo quibusdam nam. Id vero, praesentium at nesciunt aperiam voluptatem provident eos, sit adipisci ut, quibusdam.</p>
    </div>

    <div class="container feature" style="display: none;">
        <h2 class="feature-title">Magix具有以下特点</h2>
        <ul class="feature-list">
            <li class="feature-item">
                <img src="http://img.alicdn.com/tps/TB1XrR1MXXXXXapXFXXXXXXXXXX-64-45.png" alt="">
                <h2 class="feature-item-title">hello</h2>
                <p class="feature-item-content">大家好, 大家好, 大家好大家好, 大家好, 大家好大家好, 大家好, 大家好大家好, 大家好, 大家好</p>
            </li>
            <li class="feature-item">
                <img src="http://img.alicdn.com/tps/TB1XrR1MXXXXXapXFXXXXXXXXXX-64-45.png" alt="">
                <h2 class="feature-item-title">hello</h2>
                <p class="feature-item-content">大家好, 大家好, 大家好大家好, 大家好, 大家好大家好, 大家好, 大家好大家好, 大家好, 大家好</p>
            </li>
            <li class="feature-item">
                <img src="http://img.alicdn.com/tps/TB1XrR1MXXXXXapXFXXXXXXXXXX-64-45.png" alt="">
                <h2 class="feature-item-title">hello</h2>
                <p class="feature-item-content">大家好, 大家好, 大家好大家好, 大家好, 大家好大家好, 大家好, 大家好大家好, 大家好, 大家好</p>
            </li>
            <li class="feature-item">
                <img src="http://img.alicdn.com/tps/TB1XrR1MXXXXXapXFXXXXXXXXXX-64-45.png" alt="">
                <h2 class="feature-item-title">hello</h2>
                <p class="feature-item-content">大家好, 大家好, 大家好大家好, 大家好, 大家好大家好, 大家好, 大家好大家好, 大家好, 大家好</p>
            </li>



        </ul>
    </div>


    {% include footer.html %}

</body>
</html>


