<footer>
    <ul class="outlink-list container">
        <li><a href="http://thx.github.io/" target="_blank">THX</a></li>
        <li><a href="http://thx.github.io/brix-core" target="_blank">Brix</a></li>
        <li><a href="http://thx.github.io/crox" target="_blank">Crox</a></li>
        <li><a href="http://thx.github.io/RAP" target="_blank">RAP</a></li>
        <li><a href="http://mockjs.com/" target="_blank">Mock</a></li>
        <li><a href="http://thx.github.io/cube" target="_blank">Cube</a></li>
        <li><a href="http://thx.github.io/RAP" target="_blank">Canvax</a></li>
        <li><a href="http://canvax.org/"  target="_blank">Chartx</a></li>
        <li><a href="http://purplebamboo.github.io/pat/doc/views/index.html"  target="_blank">Pat</a></li>
    </ul>
</footer>
