<div class="header">
    <a href="{{site.baseurl}}/index.html" class="brand">
        <span class="iconfont icon-magix"></span>
        agix
    </a>
    <ul class="nav-list">
        <li class="nav-item nav-item-tutorial"><a href="{{site.baseurl}}/tutorial/step-1-introduction.html">教程</a></li>
        <li class="nav-item "><a href="https://github.com/thx/magix" target="_blank">Github</a></li>
        <li class="nav-item"><a href="https://thx.github.io/magix-api/" target="_blank">API</a></li>
        <li class="nav-item nav-item-article"><a href="{{site.baseurl}}/article/index.html">相关文章</a></li>
        <li class="nav-item"><a href="{{site.baseurl}}/dev-tools.html">开发工具</a></li>
        <li class="nav-item"><a href="{{site.baseurl}}/case.html">案例</a></li>
    </ul>
</div>



<script>
  (function (w) {
    var doc = w.document;

    var categoryList = [
        'tutorial',
        'article'
    ]

    // 依次遍历类别, 然后高亮对应导航项
    for (var i = 0; i < categoryList.length; ++i) {
        var category = categoryList[i]
        if (location.pathname.search('/' + category +'/') != -1) {
            doc.querySelector('.nav-item-' + category)
                .classList.add('nav-item-active')
            break
        }
    }


  }(window));
</script>
