<span class="btn-group dib-box">
  <a class="btn dib" href="http://a.tbcdn.cn/apps/e/magix/{{ version }}/{{ include.flavor }}-magix.js" title="Magix 核心未压缩版">
    <i class="iconfont">&#536;</i> magix
  </a>
  <a class="btn dib" href="http://a.tbcdn.cn/apps/e/magix/{{ version }}/{{ include.flavor }}-magix-min.js" title="Magix 核心压缩版">
    <i class="iconfont">&#537;</i> magix-min
  </a>
  <a class="btn dib" href="http://a.tbcdn.cn/apps/e/magix/{{ version }}/{{ include.flavor }}-magixext.js" title="Magix 核心与扩展未压缩版">
    <i class="iconfont">&#538;</i> magixext
  </a>
  <a class="btn dib" href="http://a.tbcdn.cn/apps/e/magix/{{ version }}/{{ include.flavor }}-magixext-min.js" title="Magix 核心与扩展未压缩版">
    <i class="iconfont">&#535;</i> magixext-min
  </a>
</span>
