{% capture version %}{% if include.version %}{{ include.version }}{% else %}{{ site.version }}{% endif %}{% endcapture %}
<ul class="builds">
  <li class="clearfix">
    <span class="dependencies">
      <a href="http://docs.kissui.com" class="kissy logo">
        <img src="http://gtms01.alicdn.com/tps/i1/T1MVbxFoRcXXchhRni-175-68.png">
      </a>
    </span>
    {% include magixFlavor.html flavor='kissy' %}
  </li>
  <li class="clearfix">
    <span class="dependencies">
      <a href="http://seajs.org/" class="seajs logo">
        <img src="http://seajs.org/docs/assets/images/logo.png">
      </a>
      <a href="http://jquery.com" class="jquery logo">
        <img src="https://jquery.org/resources/home/icn-jquery-logo.png">
      </a>
    </span>
    {% include magixFlavor.html flavor='seajs' %}
  </li>
  <li class="clearfix">
    <span class="dependencies">
      <a href="http://requirejs.org/" class="require logo">
        <img src="http://requirejs.org/i/logo.png">
      </a>
      <a href="http://jquery.com" class="jquery logo">
        <img src="https://jquery.org/resources/home/icn-jquery-logo.png">
      </a>
    </span>
    {% include magixFlavor.html flavor='requirejs' %}
  </li>
</ul>