<div class="sidebar">
    <ul class="toc">
        <li class="toc-item"><a href="./step-1-introduction.html">1. 介绍</a></li>
        <li class="toc-item"><a href="./step-2-set-up.html">2. 环境搭建</a></li>
        <li class="toc-item"><a href="./step-3-hello-world.html">3. Hello world: APP核心工作流程</a></li>
        <li class="toc-item"><a href="./step-4-template-engine.html">4. 引入Vue.js作为模板引擎</a></li>
        <li class="toc-item"><a href="./step-5-view-split.html">5. App模块拆分</a></li>
        <li class="toc-item"><a href="./step-6-router.html">6. Router路由视图切换</a></li>
        <li class="toc-item"><a href="./step-7-event-handle.html">7. 事件处理</a></li>
        <li class="toc-item"><a href="./step-8-argument-handle.html">8. 视图之间参数传递与获取</a></li>
        <li class="toc-item"><a href="./step-9-api-manage.html">9. Service统一管理接口</a></li>
        <li class="toc-item"><a href="./step-10-build-and-publish.html">10. 编译,上线</a></li>
    </ul>
</div>


<script>
  (function (w) {
    var doc = w.document;

    // 根据pathname高亮导航
    var tocLinks = doc.querySelectorAll('.sidebar .toc-item a')
    var tailRegexp = /\/([^\/]*\.html)$/
    var pathResult = location.pathname.match(tailRegexp) || ['', 'index.html']
    var pathTail = pathResult[1]

    for (var i = tocLinks.length - 1; i >= 0; --i) {
        var link = tocLinks[i]
        if (link.href.match(tailRegexp)[1] == pathTail) {
            link.parentNode.className += ' toc-item-active'
        }

    }

  }(window));
</script>
