@charset 'utf-8';
.items li{
    height:30px;
    line-height: 30px;
    padding:0 8px;
    cursor: default;
    border-radius: 4px;
}
.items li.over{
    background-color: #197de1;
    background-image: -webkit-linear-gradient(top, #1b87e3 2%, #166ed5 98%);
    background-image: linear-gradient(to bottom,#1b87e3 2%, #166ed5 98%);
    color: #ecf2f8;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
}
.container{
  transition:margin-left 0.25s;
  -moz-transition:margin-left 0.25s; /* Firefox 4 */
  -webkit-transition:margin-left 0.25s; /* Safari and Chrome */
  -o-transition:margin-left 0.25s; /* Opera */
}
.items li .more{
  float: right
}
.items{
    padding: 4px 4px;
    border-radius: 4px;
    background-color: white;
    color: #474747;
    -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.09098);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.09098);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    cursor: default;
}
.toright{
  margin-left:10px;
}
.toleft{
  margin-left:-10px;
}