.ball{
    margin:30px;
    width:100px;
    height:100px;
    border-radius: 50px;
    background:#eee;
    text-align: center;
    font-size:30px;
    line-height: 100px;
}
.ml10{
    margin-left: 10px;
}
.foot{
    margin:30px;
}