<div class="wrapper">
    <ul mx-keys="list">
        <li>
            <input class="input" type="text" value="<%=list[0].test%>" mx-change="setValue({path:'list.0.test'})" />
        </li>
        <%
            for(var i=1;i<list.length;i++){
        %>
            <li><input class="input" type="text" mx-change="setValue({path:'list.<%=i%>.test'})" value="<%=list[i].test%>" /><button class="btn" mx-click="remove({index:<%=i%>})" style="margin-left:10px">X</button></li>
        <%
            }
        %>
        <li>
            <button mx-click="add()" class="btn">添加一个</button>
        </li>
    </ul>
</div>
<hr />
<div class="wrapper">
    <ul mx-keys="platforms">
        <%
            for(var i=0;i<platforms.length;i++){
        %>
            <li>
                <div mx-view="@./partials/dropdown?type=platform&selected=<%=platforms[i].platformId%>" mx-change="setValue({path:'platforms.<%=i%>.platformId'})" class="fl ml10"></div>
                <div mx-view="@./partials/dropdown?type=operator&selected=<%=platforms[i].operatorId%>" mx-change="setValue({path:'platforms.<%=i%>.operatorId'})" class="fl ml10"></div>
                <input class="input w80 ml10" type="text" mx-change="setValue({path:'platforms.<%=i%>.version'})" value="<%=platforms[i].version%>" placeholder="版本号" />
                <button class="btn ml10" mx-click="removePlatform({index:<%=i%>})">X</button>
            </li>
        <%
            }
        %>
        <li>
            <button mx-click="addPlatform()" class="btn">添加一个平台</button>
        </li>
    </ul>
</div>

<button mx-click="saveSnapshot()" class="btn">保存当前数据</button>