<div class="wrapper">
    <button class="btn" mx-click="showBatch()">批量操作</button>
    <table class="table">
        <thead>
            <tr mx-keys="checkedFields">
                <th>名称</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody mx-keys="checkedFields">
            <%for(var i=0;i<20;i++){%>
            <tr>
                <td>测试<%=Math.random()%></td>
                <td>
                    <div class="operation">
                        <a href="javascript:;" mx-click="showMore()">更多</a>
                    </div>
                </td>
            </tr>
            <%}%>
        </tbody>
    </table>
</div>
<ul class="list none" id="batch_<%=id%>">
    <li mx-mouseover="hover()" mx-mouseout="hover()">test1</li>
    <li mx-mouseover="hover()" mx-mouseout="hover()">test2</li>
    <li mx-mouseover="hover()" mx-mouseout="hover()">test3</li>
    <li mx-mouseover="hover()" mx-mouseout="hover()">test4</li>
    <li mx-mouseover="hover()" mx-mouseout="hover()">test5</li>
</ul>

<ul class="list none" id="more_<%=id%>">
    <li mx-mouseover="hover()" mx-mouseout="hover()">more-test1</li>
    <li mx-mouseover="hover()" mx-mouseout="hover()">more-test2</li>
    <li mx-mouseover="hover()" mx-mouseout="hover()">more-test3</li>
    <li mx-mouseover="hover()" mx-mouseout="hover()">more-test4</li>
    <li mx-mouseover="hover()" mx-mouseout="hover()">more-test5</li>
</ul>