.wrapper{
    margin:50px;
}
.form-item{
    height:30px;
    line-height:30px;
    margin:5px 0;
}
.title{
    float:left;
    width:120px;
    text-align: right;
    margin-right: 10px
}
.content{
    float:left;
}
.w88{
    width:88px;
}