/**
 * 项目的默认设置
 **/



// 颜色
$color-brand: #f60 !default;      // 品牌色
$color-brand-hover: #ff3c00 !default;   // 品牌hover色
$color-border: #eaeaea !default;     // 边框默认颜色
$color-text: #333 !default;          // 文本默认颜色
$color-background: #ddd !default;    // 背景颜色


// 文字
$font-size-base: 14px !default;       // 默认字号
$line-height-base: 1.8 !default;      // 默认行高
$font-family-base: 'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif !default;



// 栅格
$page-width: 1002px !default;
$breakpoints: (
    pc: $page-width,         // 栅格系统pc断点
    pad: 850px,         // 栅格系统pad断点
    h5: 768px,          // 栅格系统手机断点
) !default;

$gutter-width: 15px !default;       // 栅格系统两列之间间距30/2
$grid-column-count: 12 !default;         // 栅格系统列数


$page-gutter-width: 10px !default;           // h5的时候页面距屏幕的边距宽度
