@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    };
}


// media query mixin
// 使用这个mixin将pc样式和无线样式写在一起很方便
// 至于性能每个view的css都是在view加载的时候按需加载的不会加载无关的css
// 所以media query数量是有限的
// 有测试表面一个media query和2000个media query性能上没有太大差异
// http://stackoverflow.com/questions/11626174/is-there-an-advantage-in-grouping-css-media-queries-together
// https://helloanselm.com/2014/web-performance-one-or-thousand-media-queries/
@mixin mq($size) {
  @media (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}
