<div id="cal_<%=id%>"></div>

<input class="input" style="margin:60px;" type="text" mx-click="showCal();" value="2016-04-08" />
<input class="input" style="margin:60px;" type="text" mx-click="showCal();" value="2016-04-08" />
<input class="input" style="margin:60px;" type="text" mx-click="showCal();" value="2016-04-08" />
<input class="input" style="margin:60px;" type="text" mx-click="showCal({dock:'right'});" value="2016-04-08" x="2" />

<input class="input" style="margin:60px;width:160px;position: absolute;right:100px;top:100px" type="text" mx-click="showRangeCal({dock:'right'});" value="2016-04-08~2016-04-12" />

<div href="#!/index" mx-click="showCal1()" style="float:left;margin:100px">test anchor</div>