<div class="wrapper">
    <div id="d1_<%=viewId%>" class="dropdown"></div>
    <div id="d2_<%=viewId%>" class="dropdown"></div>
    <button mx-click="changeService()" class="btn btn-size25">切换数据源</button>
    <div id="d3_<%=viewId%>" class="dropdown bottom"></div>
    <div id="d4_<%=viewId%>" class="dropdown"></div>
    <div class="dropdown" mx-view="coms/dropdown/index?source=script&selected=<%=d2Id%>" mx-keys="d2Id">
        <script type="text/magix">
            <%=JSON.stringify(list)%>
        </script>
    </div>
    <br />
    <div class="dropdown" id="p_<%=viewId%>">
    </div>
    <div class="dropdown" mx-view="coms/dropdown/index?source=script&selected=<%=citySelected%>" mx-keys="cities,citySelected">
        <script type="text/magix">
            <%=JSON.stringify(cities)%>
        </script>
    </div>
</div>