<table class="table">
    <thead>
        <tr>
            <th>xx</th>
            <th>xx</th>
            <th>xx</th>
            <th>operator</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>
                <div class="operation">
                    xx
                </div>
            </td>
        </tr>
        <tr>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>
                <div class="operation">
                    xx
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="table-child-td">
                <table class="table-child">
                    <thead>
                        <tr>
                            <th>xx</th>
                            <th>xx</th>
                            <th>xx</th>
                            <th>operator</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>xxx</td>
                            <td>xxx</td>
                            <td>xxx</td>
                            <td>
                                <div class="operation">
                                    xx
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>xxx</td>
                            <td>xxx</td>
                            <td>xxx</td>
                            <td>
                                <div class="operation">
                                    xx
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>xxx</td>
                            <td>xxx</td>
                            <td>xxx</td>
                            <td>
                                <div class="operation">
                                    xx
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>
                <div class="operation">
                    xx
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot mx-mousedown="drag()">
        <tr>
            <td colspan="4">xxx</td>
        </tr>
    </tfoot>
</table>