.help{
    cursor: help;
}
.content{
    position:absolute;
    padding: 4px 4px;
    border-radius: 4px;
    background-color: white;
    color: #474747;
    -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.09098);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.09098);
}

.left:before,.left:after{
  border: 8px solid transparent;
  border-left: 8px solid #fff;
  width: 0;
  height: 0;
  position: absolute;
  top: 8px;
  right: -16px;
  content: ' '
}
.left:before {
  border-width: 8px;
  border-left-color: #888;
}

.right:before,.right:after{
  border: 8px solid transparent;
  border-right: 8px solid #fff;
  width: 0;
  height: 0;
  position: absolute;
  top: 8px;
  left: -16px;
  content: ' '
}
.right:before {
  border-width: 8px;
  border-right-color: #888;
}

.top:before,.top:after{
  border: 8px solid transparent;
  border-top: 8px solid #fff;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -16px;
  left: 8px;
  content: ' '
}
.top:before {
  border-width: 8px;
  border-top-color: #888;
}

.bottom:before,.bottom:after{
  border: 8px solid transparent;
  border-bottom: 8px solid #fff;
  width: 0;
  height: 0;
  position: absolute;
  top: -16px;
  left: 8px;
  content: ' '
}
.bottom:before {
  border-width: 8px;
  border-bottom-color: #888;
}
