.pr{
    position: relative;
}
.file{
    position: absolute;
    left:0;
    top:0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    font-size:100px;
    filter: alpha(opacity=0);
}
.cnt{
    position: absolute;
    left:-999999px;
}