
.type .builds {
  padding-left: 0;
  list-style: none;
}
.builds li {
  margin-top: 10px;
}
.builds .dependencies {
  display: block;
  height: 50px;
  overflow: hidden;
}
.builds .logo:hover {
  border-bottom: none;
}

/*
 * Tutorial Switcher
 */
.switcher a,
.switcher span {
  display: inline-block;
}

/*
 * Who's Using
 */
.whos-using {
  margin-top: 30px;
}
.whos-using .dib {
  max-width: 200px;
  vertical-align: middle;
  font-size: 14px;
}
.whos-using .iconfont {
  font-size: 40px;
}
.whos-using a:hover {
  border-bottom: 0 none;
}