.page-list{
    text-align: center;
    float:left;
    height: 25px;
    line-height: 25px;
}
.page-item{
    color:#999;
    font-size:14px;
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-left: 2px;
    vertical-align: text-bottom;
}
.page-active{
    color:#fff;
    background:rgb(152,174,221);
    border-radius:3px;
}
.page-disabled{
    cursor: not-allowed;
}