---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="./magix.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="{{site.baseurl}}/asset/style.css">
</head>
<body>


    {% include header.html %}

    <div class="main-wrapper clearfix">
        <div class="container">
            <div class="markdown-body">
                {{ content }}
            </div>

            {% include duoshuo.html %}
        </div>
    </div>

    {% include footer.html %}

</body>
</html>
