---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/asset/style.css">
</head>
<body>


    {% include header.html %}

    <div class="main-wrapper clearfix">
        {% include sidebar.html %}

        <div class="page-content">
            <div class="tutorial-content">
                <div class="markdown-body">
                转载请注明出处: <a href="{{site.hostname}}{{site.baseurl}}{{page.url}}">{{site.hostname}}{{site.baseurl}}{{page.url}}</a>
                    {{ content }}
                </div>
            </div>

            {% include duoshuo.html %}

        </div>
    </div>

    {% include footer.html %}

</body>
</html>
