.wrapper{
    width:190px;
    height:210px;
    background:#fff;
    -webkit-box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.1);
    box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    padding:2px;
}
.table{
    width:100%;
}
.title,.day,.week{
    text-align: center;
    height:26px;
    line-height: 25px;
}
.gray{
    color: #999;
}
.day{
    width:25px;
}
.title:hover,.day:hover,.year:hover{
    background: #eeeeee;
    cursor: pointer;
    border-radius: 4px;
}
.selected,.selected:hover{
    cursor: pointer;
    background-color: #197de1;
    background-image: -webkit-linear-gradient(top, #1b87e3 2%, #166ed5 98%);
    background-image: linear-gradient(to bottom,#1b87e3 2%, #166ed5 98%);
    color: #ecf2f8;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
    border-radius: 2px;
}
.year{
    width:25%;
    height:61px;
    float:left;
    line-height: 58px;
    text-align: center;
    cursor: pointer;
}
.none{
    display: none;
}
.turn{
    width:15%;
}
.table .disabled{
    color:#eee;
    cursor:not-allowed;
}
.table .disabled:hover{
    background:none;
}