.shortcuts{
    width: 220px;
    padding:4px;
}
.shortcuts-header{
  height: 22px;
  line-height: 22px;
  margin:4px 10px;
}
.shortcuts a{
    padding:4px;
    float: left;
    width:65px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.shortcuts a:hover{
    background: #eeeeee;
    cursor: pointer;
    border-radius: 4px;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
.datepicker{
  margin:4px;
  text-align: center;
}
.datepicker input{
 /*. background-color:#eee;
  border:none;
  border-radius: 4px;
  line-height:20px;
  height:20px;
  width:84px;
  margin:0 5px;
  padding:2px 6px;*/
  width:80px;
}
.buttons{
  margin:15px 4px 10px 14px;
}
.buttons button{
  height: 25px;
  margin-right: 5px;
  width: 50px;
}

.shortcuts a.selected,.shortcuts a.selected:hover{
    cursor: pointer;
    background-color: #197de1;
    background-image: -webkit-linear-gradient(top, #1b87e3 2%, #166ed5 98%);
    background-image: linear-gradient(to bottom,#1b87e3 2%, #166ed5 98%);
    color: #ecf2f8;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
    border-radius: 2px;
}