<div class="wrapper">
    <table class="table">
        <thead>
            <tr>
                <th>类型</th>
                <th>名称</th>
                <th>url</th>
                <th>缓存</th>
                <th>结果</th>
            </tr>
        </thead>
        <tbody mx-keys="list">
            <%for(var i=0;i<list.length;i++){%>
            <tr>
                <td><%=list[i].type%></td>
                <td><%=list[i].name%></td>
                <td><%=list[i].url%></td>
                <td><%=list[i].cache%>ms</td>
                <td><%=list[i].result%></td>
            </tr>
            <%}%>
        </tbody>
    </table>
</div>