<div class="cnt">
    <div class="fields-wrapper clearfix">
        <div class="fields" mx-keys="fields,checkedMap">
            <%for(var i=0;i<fields.length;i++){%>
                <label>
                    <input type="checkbox"<%if(checkedMap[fields[i].id]){%> checked="checked"<%}%> mx-click="toggleField({id:'<%=fields[i].id%>'})" /><%=fields[i].text%>
                </label>
            <%}%>
        </div>
        <div class="sortable" id="sortable_<%=id%>">
            <ul mx-keys="checkedFields">
                <%for(var i=0;i<checkedFields.length;i++){%>
                    <li dragdrop="v" id="sf_<%=checkedFields[i]%>_<%=id%>" mx-mousedown="dragStart()" index="<%=i%>"><span><%=fieldsMap[checkedFields[i]].text%></span><i style="display: inline-block;float:right">xx</i></li>
                <%}%>
            </ul>
        </div>
    </div>
    <div class="h-fields" mx-keys="checkedFields" id="hsortable_<%=id%>">
        <ul style="width:<%=94*checkedFields.length%>px">
            <%for(var i=0;i<checkedFields.length;i++){%>
                <li dragdrop="h" id="sf_<%=checkedFields[i]%>_<%=id%>" mx-mousedown="dragStartH()" index="<%=i%>"><span><%=fieldsMap[checkedFields[i]].text%></span><i style="display: inline-block;float:right">xx</i></li>
            <%}%>
        </ul>
    </div>
    <div class="buttons">
        <button class="btn" mx-click="enter();">确定</button>
        <button class="btn" mx-click="cancel();">取消</button>
    </div>
</div>