.cnt{
    padding:10px;
}
.fields-wrapper{
    width:500px;
}
.buttons{
    margin-top:10px;
}
.buttons button{
    margin-right:8px;
}
.fields{
    width:60%;
    float:left;
}
.fields label{
    margin:2px 8px 3px;
    display: inline-block;
}
.sortable{
    width:40%;
    float:left;
    height:200px;
    overflow: auto;
}
.sortable li,.ghost li{
    height:20px;
    line-height:20px;
    border:solid 1px #ccc;
    margin-bottom:3px;
    padding:4px;
    cursor: move;
}
li.dragged{
    opacity: .3;
}
.ghost{
    position:absolute;
    left:-9999px;
}
.ghost li{
    background: #fff;
    width:120px;
}
.bar{
    width:120px;
    height:1px;
    border:5px solid #333;
    position:absolute;
    left:-9999px;
    cursor: move;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
}
.barh{
    height:1px;
    overflow: hidden;
    background:#000;
}
.h-fields{
    margin-top: 20px;
    width:500px;
    height:100px;
    overflow: auto;
}
.h-fields li{
    width:80px;
    height:80px;
    padding:5px;
    display: inline-block;
    background: #eee;
    line-height: 80px;
    margin:0 2px;
}

.hbar{
    width:1px;
    border:5px solid #333;
    position:absolute;
    left:-9999px;
    cursor: move;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
}
.hbarh{
    width:1px;
    height: 100%;
    overflow: hidden;
    background:#000;
}