<div class="form-item">
    <div class="title">停留时间</div>
    <div class="content">
        <input class="input w88" value="<%=creative.stayTime%>" /> 秒
    </div>
</div>
<div class="form-item">
    <div class="title">延迟弹出</div>
    <div class="content">
        <input class="input w88" value="<%=creative.delayTime%>" mx-change="setValue({path:'creative.delayTime'})" /> 秒
    </div>
</div>
<div class="form-item">
    <div class="title">响应时间</div>
    <div class="content">
        <input class="input w88" id="respondTime_<%=id%>" value="<%=creative.respondTime%>" mx-change="setValue({path:'creative.respondTime'})" /> 秒
    </div>
</div>
<div class="form-item">
    <div class="title">其它</div>
    <div class="content">
        <input class="input w88" value="<%=others[0]%>" mx-change="setValue({path:'others.0'})" id="others_0_<%=id%>" />
    </div>
</div>
<div mx-keys="others">
<%for(var i=1;i<others.length;i++){%>
    <div class="form-item">
        <div class="title">&nbsp;</div>
        <div class="content">
            <input class="input w88" value="<%=others[i]%>" mx-change="setValue({path:'others.<%=i%>'})" id="others_<%=i%>_<%=id%>" />
        </div>
    </div>
<%}%>
</div>
<div class="form-item">
    <div class="title">&nbsp;</div>
    <div class="content">
        <button class="btn" mx-click="addOthers();">+</button>
    </div>
</div>